body {
    background-color: #4B382A; /* Darker coffee brown color */
    color: #d3d3d3; /* Default text color set to light grey */
}

a {
    color: #ffc107;
}

.jumbotron {
    display: flex;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: #4B382A; /* Ensure jumbotron matches body */
}

.jumbotron h1 {
    color: white; /* Ensure 'Coffee & WiFi' is white */
}

.jumbotron p,
.jumbotron hr,
.jumbotron .lead {
    color: #d3d3d3; /* Ensure other text inside the jumbotron is light grey */
}


.space-above {
    margin-top: 20px;
    padding-top: 20px;
}


/* Custom class to make text 35% darker */
.darker-text {
    color: #898989; /* 35% darker than the original lightness */
}